<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Tus pedidos</h3>
            </div>
       
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table listview-table  floatThead-table">
                            <tr>
                                <th><i class="mdi mdi-format-list-numbers"></i> Numero de pedido</th>
                                <th><i class="mdi mdi-calendar-range"></i> Fecha de creacion</th>
                                <th><i class="mdi mdi-currency-usd"></i> Monto Total</th>
                            </tr>
                            <tr class="td-table">
                                <td>COT8212</td>
                                <td>27/10/2018</td>
                                <td>$134,000.00</td>
                            </tr>
                            <tr class="td-table">
                                <td>COT1940</td>
                                <td>27/10/2018</td>
                                <td>$20,000.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        © 2018 System by: Oswaldo MR & Luis Estrada
    </footer>
</div>
